<p>Bonjour,</p>
<p>Vous avez été invité(e) à rejoindre la communauté <b>{{communityName}}</b> sur notre plateforme.</p>
<p>Pour accepter l'invitation, cliquez sur le lien suivant :</p>
<p><a href="{{invitationLink}}">Accepter l'invitation</a></p>
<p>Ce lien expirera le {{expirationDate}}.</p>
<p>Si vous n'êtes pas à l'origine de cette invitation, vous pouvez ignorer ce message.</p>
<p>Cordialement,<br>L'équipe</p>
