<html>
  <body>
    <h2>Bienvenue sur PConnect !</h2>
    <p>Votre code de validation est :</p>
    <div style="font-size: 2em; font-weight: bold; color: #2d8cf0;">{{otp}}</div>
    <p>Ce code est valable 10 minutes.</p>
    <p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.</p>
    <br>
    <p>L'équipe PConnect</p>
  </body>
</html>
