<html>
<body>
    <p>Bonjour,</p>
    <p>Vous avez demandé un nouveau code de vérification. Voici votre nouveau OTP :</p>
    <h2>{{otp}}</h2>
    <p>Ce code expirera dans 10 minutes.</p>
    <p>Si vous n'êtes pas à l'origine de cette demande, ignorez ce message.</p>
    <p>L'équipe PConnect</p>
</body>
</html>